@model ProyectoEcommerce.Models.Entidades.Categoria
@{
    ViewData["Title"] = "Crear";
    //Layout = null; // Está comentado, por lo que el Layout sí se utiliza
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5> Crear Categoría</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Crear">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre" id="nombre" oninput="soloLetras(this)" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="fa fa-save fa-beat"></i> Guardar
                        </button>
                        <!-- Cambiar el botón "Cancelar" para redirigir a la lista -->
                        <button type="button" class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("Lista", "Categorias")'">
                            <i class="fa fa-ban fa-beat"></i> Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Sección de scripts de validación ya proporcionada por el Layout -->
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        // Función para permitir solo letras, espacios, tildes y la ñ
        function soloLetras(input) {
            // Elimina todos los caracteres que no sean letras, tildes, ñ o espacios
            input.value = input.value.replace(/[^a-zA-ZáéíóúÁÉÍÓÚñÑ\s]/g, '');
        }
    </script>
}
