@{
    ViewData["Title"] = "Confirmar Venta";
    //Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 col-sm-10 col-12">
        <div class="text-center mb-3">
            <img src="~/images/ventalib.jpg" class="img-fluid" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 20px;" alt="Imagen de venta" />

        </div>
        <div class="card shadow-lg" style="border-radius: 15px;">
            <div class="card-header text-center" style="background-color: #28a745; color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <h2 style="margin: 0;">¡Gracias!</h2>
            </div>
            <div class="card-body text-center">
                <h4 style="color: #28a745; margin-bottom: 20px;">
                    Su pedido fue registrado con éxito<br>
                    A continuación se le brindará los detalles.
                </h4>
            </div>
            <div class="card-footer text-center" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                <a asp-action="Index" class="btn btn-outline-success btn-sm" style="padding: 10px 20px; border-radius: 30px;">Inicio</a>
            </div>
        </div>
    </div>
</div>
