﻿@{
    ViewData["Title"] = "Confirmar Venta";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/compra.jpg" style="width:350px; height:300px;" />
        <div class=" card">
            <div class=" card-header text-center">
                <h2 class=" text-success">¡Gracias!</h2>
            </div>
            <div class=" card-body text-center">
                <h4 class=" text-success">
                    Su pedido fue registrado en nuestro sistema,
                    pronto uno de nuestros asesores se comunicará con usted.
                </h4>
            </div>
            <div class=" card-footer text-center">
                <a asp-action="Index" class="mt-2 btn-sm btn-outline-success">Inicio</a>
            </div>
        </div>
    </div>
</div>
